.hit-the-mole-game {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0em;
  font-size: 1.125rem;
  line-height: 2.125rem;
  color: #222;
  font-feature-settings: 'clig' off, 'liga' off;
}

.mole-description {
  padding-bottom: 1rem;
}

.mole-result {
  margin: 2em;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 3rem;
}

.mole-tile-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: min-content;
}
